In [ ]:
import geopandas as gpd # type: ignore 
# why does vscode flag geopandas, pandas as not being found?
import pandas as pd # type: ignore

In [71]:
from pathlib import Path
from typing import List, Dict

In [ ]:
df_dogs = pd.read_csv(Path.cwd().joinpath('data').joinpath('seattle_dogs_single_breed.csv'))

In [86]:
gdf = gpd.read_file(Path.cwd().joinpath('data').joinpath('clean_seattle_zipcodes.geojson'))

In [19]:
df_dogs.head()

     zip                breed  count
0  98101     airedale terrier      1
1  98101                akita      1
2  98101      american eskimo      1
3  98101  australian shepherd      4
4  98101              basenji      1

In [ ]:
gdf_raw.head()

  zipcode                                           geometry
0   98422  MULTIPOLYGON (((-122.39386 47.30380, -122.3935...
1   98321  MULTIPOLYGON (((-122.11344 47.21775, -122.1138...
2   98323  MULTIPOLYGON (((-121.93754 47.13888, -121.9374...
3   98354  MULTIPOLYGON (((-122.33425 47.25737, -122.3342...
4   98372  MULTIPOLYGON (((-122.28811 47.25720, -122.2879...

In [ ]:
# gdf_raw.zipcode.isna().sum() # 0
df_dogs.zip.isna().sum() # also 0

0

Do our transformations on the source data, so we're only joining zips in a 1-1 relationship.
2 needs:
- top breeds in each zip code
- able to extract number of a specific breed in each zip code

We could store these as a dictionary per each zip code, of all breed counts in the zip code?
Then call first five OR look up specific breed.

Oh yeah, and, let's also generate the top breeds city-wide & display that as a list.

In [94]:
print(df_dogs[['breed', 'count']].groupby('breed').agg('sum'))

                             count
breed
affenpinscher                    3
afghan hound                     2
ainu                             1
airedale terrier                24
akbash                           2
...                            ...
wire fox terrier                12
wire haired vizsla               3
wirehaired pointing griffon     29
xoloitzcuintli                  37
yorkshire terrier              111

[252 rows x 1 columns]

In [97]:
df_dogs[['breed', 'count']].groupby('breed').agg('sum').reset_index().to_dict()

{'breed': {0: 'affenpinscher',
  1: 'afghan hound',
  2: 'ainu',
  3: 'airedale terrier',
  4: 'akbash',
  5: 'akita',
  6: 'alaskan husky',
  7: 'alaskan klee kai',
  8: 'alaskan malamute',
  9: 'american blue heeler',
  10: 'american bulldog',
  11: 'american bullnese',
  12: 'american cocker spaniel',
  13: 'american crested sand terrier',
  14: 'american english coonhound',
  15: 'american eskimo',
  16: 'american foxhound',
  17: 'american hairless terrier',
  18: 'american indian dog',
  19: 'american pit bull terrier',
  20: 'american staffordshire terrier',
  21: 'american water spaniel',
  22: 'american white shepherd',
  23: 'anatolian shepherd',
  24: 'appenzeller sennenhunde',
  25: 'argentine dogo',
  26: 'australian cattle dog',
  27: 'australian kelpie',
  28: 'australian shepherd',
  29: 'australian terrier',
  30: 'barbet',
  31: 'basenji',
  32: 'basset hound',
  33: 'beagle',
  34: 'bearded collie',
  35: 'beauceron',
  36: 'bedlington terrier',
  37: 'belgian malinois',
  38: 'belgian sheepdog',
  39: 'belgian tervuren',
  40: 'bergamasco',
  41: 'bernese mountain dog',
  42: 'bichon frise',
  43: 'black and tan coonhound',
  44: 'black russian terrier',
  45: 'black-mouth cur',
  46: 'bloodhound',
  47: 'bluetick coonhound',
  48: 'boerboel',
  49: 'bolognese',
  50: 'border collie',
  51: 'border terrier',
  52: 'boston terrier',
  53: 'bouvier des flandres',
  54: 'boxer',
  55: 'boykin spaniel',
  56: 'bracco italiano',
  57: 'braque francais pyrenees',
  58: 'brazilian terrier',
  59: 'briard',
  60: 'brittany',
  61: 'brussels griffon',
  62: 'bull terrier',
  63: 'bulldog',
  64: 'bullmastiff',
  65: 'cairn terrier',
  66: 'canaan',
  67: 'cane corso',
  68: 'cardigan welsh corgi',
  69: 'carolina dog',
  70: 'catahoula leopard dog',
  71: 'cavalier king charles spaniel',
  72: 'chesapeake bay retriever',
  73: 'chinese crested',
  74: 'chinese shar-pei',
  75: 'chinook',
  76: 'chow chow',
  77: 'cirneco dell etna',
  78: 'clumber spaniel',
  79: 'coonhound',
  80: 'coton de tulear',
  81: 'curly coated retriever',
  82: 'dalmatian',
  83: 'doberman pinscher',
  84: 'dutch shepherd',
  85: 'dutch smoushond',
  86: 'english bulldog',
  87: 'english cocker spaniel',
  88: 'english foxhound',
  89: 'english mastiff',
  90: 'english setter',
  91: 'english shepherd',
  92: 'english springer spaniel',
  93: 'english staffordshire terrier',
  94: 'english toy spaniel',
  95: 'entlebucher mountain dog',
  96: 'eurasier',
  97: 'feist',
  98: 'field spaniel',
  99: 'flat-coated retriever',
  100: 'french brittany',
  101: 'french bulldog',
  102: 'french spaniel',
  103: 'german pinscher',
  104: 'german shepherd',
  105: 'german shorthaired pointer',
  106: 'german wirehaired pointer',
  107: 'giant schnauzer',
  108: 'glen of imaal terrier',
  109: 'golden retriever',
  110: 'gordon setter',
  111: 'grand basset griffon vendeen',
  112: 'great dane',
  113: 'great pyrenees',
  114: 'greater swiss mountain dog',
  115: 'greenland dog',
  116: 'greyhound',
  117: 'harrier',
  118: 'havanese',
  119: 'hound',
  120: 'ibizan hound',
  121: 'icelandic sheepdog',
  122: 'irish setter',
  123: 'irish terrier',
  124: 'irish water spaniel',
  125: 'irish wolfhound',
  126: 'italian greyhound',
  127: 'jack russell terrier',
  128: 'japanese chin',
  129: 'japanese spitz',
  130: 'kai ken',
  131: 'karelian bear dog',
  132: 'keeshond',
  133: 'kerry blue terrier',
  134: 'king german shepherd',
  135: 'komondor',
  136: 'kooikerhondje',
  137: 'korean jindo',
  138: 'labrador retriever',
  139: 'lacy',
  140: 'lagotto romagnolo',
  141: 'lakeland terrier',
  142: 'large (over 44 lbs fully grown) mixed breed',
  143: 'large munsterlander',
  144: 'leonberger',
  145: 'lhasa apso',
  146: 'long coat chihuahua',
  147: 'lowchen',
  148: 'maltese',
  149: 'manchester terrier',
  150: 'mastiff',
  151: 'mcnab herding dog',
  152: 'medium (up to 44 lbs fully grown) mixed breed',
  153: 'mexican hairless',
  154: 'miniature australian shepherd',
  155: 'miniature bull terrier',
  156: 'miniature long haired dachshund',
  157: 'miniature pinscher',
  158: 'miniature poodle',
  159: 'miniature schnauzer',
  160: 'miniature smooth haired dachshund',
  161: 'miniature wire haired dachshund',
  162: 'mountain cur',
  163: 'mudi',
  164: 'newfoundland',
  165: 'norfolk terrier',
  166: 'norwegian buhund',
  167: 'norwegian elkhound',
  168: 'norwegian lundehund',
  169: 'norwich terrier',
  170: 'nova scotia duck tolling retriever',
  171: 'old english sheepdog',
  172: 'olde english bulldogge',
  173: 'otterhound',
  174: 'papillon',
  175: 'parson russell terrier',
  176: 'pekingese',
  177: 'pembroke welsh corgi',
  178: 'peruvian inca orchid',
  179: 'petit basset griffon vendeen',
  180: 'picardy sheepdog',
  181: 'pit bull terrier',
  182: 'plott hound',
  183: 'podenco canario',
  184: 'podenco gallego',
  185: 'pointer',
  186: 'polish lowland sheepdog',
  187: 'pomeranian',
  188: 'poong-san dog',
  189: 'portuguese podengo',
  190: 'portuguese water dog',
  191: 'pudelpointer',
  192: 'pug',
  193: 'puli',
  194: 'pumi',
  195: 'rat terrier',
  196: 'redbone coonhound',
  197: 'retriever',
  198: 'rhodesian ridgeback',
  199: 'rottweiler',
  200: 'rough collie',
  201: 'russell terrier',
  202: 'saint bernard',
  203: 'samoyed',
  204: 'schipperke',
  205: 'scottish deerhound',
  206: 'scottish terrier',
  207: 'sealyham terrier',
  208: 'shepherd',
  209: 'shetland sheepdog',
  210: 'shiba inu',
  211: 'shih tzu',
  212: 'shiloh shepherd',
  213: 'short coat chihuahua',
  214: 'siberian husky',
  215: 'silken windhound',
  216: 'silky terrier',
  217: 'small (under 24 lbs fully grown) mixed breed',
  218: 'small munsterlander',
  219: 'smooth collie',
  220: 'smooth fox terrier',
  221: 'smooth haired vizsla',
  222: 'soft coated wheaten terrier',
  223: 'spaniel',
  224: 'spanish water dog',
  225: 'spinone italiano',
  226: 'stabyhoun',
  227: 'staffordshire bull terrier',
  228: 'standard long haired dachshund',
  229: 'standard poodle',
  230: 'standard schnauzer',
  231: 'standard smooth haired dachshund',
  232: 'standard wire haired dachshund',
  233: 'swedish elkhound',
  234: 'swedish vallhund',
  235: 'terrier',
  236: 'tibetan spaniel',
  237: 'tibetan terrier',
  238: 'toy fox terrier',
  239: 'toy poodle',
  240: 'treeing walker coonhound',
  241: 'weimaraner',
  242: 'welsh springer spaniel',
  243: 'welsh terrier',
  244: 'west highland white terrier',
  245: 'whippet',
  246: 'white swiss shepherd (berger blanc suisse)',
  247: 'wire fox terrier',
  248: 'wire haired vizsla',
  249: 'wirehaired pointing griffon',
  250: 'xoloitzcuintli',
  251: 'yorkshire terrier'},
 'count': {0: 3,
  1: 2,
  2: 1,
  3: 24,
  4: 2,
  5: 24,
  6: 22,
  7: 24,
  8: 30,
  9: 7,
  10: 18,
  11: 2,
  12: 51,
  13: 1,
  14: 1,
  15: 20,
  16: 6,
  17: 2,
  18: 1,
  19: 104,
  20: 36,
  21: 1,
  22: 1,
  23: 3,
  24: 3,
  25: 1,
  26: 91,
  27: 6,
  28: 282,
  29: 8,
  30: 5,
  31: 25,
  32: 37,
  33: 110,
  34: 4,
  35: 1,
  36: 4,
  37: 31,
  38: 3,
  39: 10,
  40: 2,
  41: 84,
  42: 44,
  43: 3,
  44: 2,
  45: 7,
  46: 2,
  47: 5,
  48: 5,
  49: 3,
  50: 138,
  51: 35,
  52: 138,
  53: 6,
  54: 103,
  55: 1,
  56: 3,
  57: 3,
  58: 1,
  59: 6,
  60: 39,
  61: 9,
  62: 18,
  63: 5,
  64: 7,
  65: 36,
  66: 5,
  67: 13,
  68: 50,
  69: 3,
  70: 13,
  71: 158,
  72: 15,
  73: 4,
  74: 10,
  75: 5,
  76: 19,
  77: 2,
  78: 1,
  79: 7,
  80: 34,
  81: 2,
  82: 19,
  83: 53,
  84: 2,
  85: 1,
  86: 44,
  87: 23,
  88: 1,
  89: 5,
  90: 14,
  91: 15,
  92: 88,
  93: 2,
  94: 1,
  95: 6,
  96: 4,
  97: 2,
  98: 1,
  99: 31,
  100: 5,
  101: 222,
  102: 2,
  103: 2,
  104: 277,
  105: 76,
  106: 10,
  107: 5,
  108: 3,
  109: 716,
  110: 6,
  111: 2,
  112: 57,
  113: 28,
  114: 13,
  115: 1,
  116: 100,
  117: 3,
  118: 230,
  119: 13,
  120: 5,
  121: 7,
  122: 18,
  123: 10,
  124: 3,
  125: 6,
  126: 23,
  127: 51,
  128: 8,
  129: 2,
  130: 2,
  131: 2,
  132: 18,
  133: 4,
  134: 8,
  135: 1,
  136: 5,
  137: 6,
  138: 1025,
  139: 1,
  140: 60,
  141: 6,
  142: 13,
  143: 2,
  144: 6,
  145: 26,
  146: 34,
  147: 2,
  148: 59,
  149: 8,
  150: 3,
  151: 5,
  152: 25,
  153: 1,
  154: 190,
  155: 4,
  156: 82,
  157: 27,
  158: 173,
  159: 126,
  160: 89,
  161: 2,
  162: 4,
  163: 3,
  164: 27,
  165: 8,
  166: 1,
  167: 9,
  168: 1,
  169: 7,
  170: 24,
  171: 20,
  172: 7,
  173: 1,
  174: 21,
  175: 3,
  176: 19,
  177: 266,
  178: 1,
  179: 4,
  180: 2,
  181: 33,
  182: 2,
  183: 1,
  184: 1,
  185: 12,
  186: 1,
  187: 94,
  188: 1,
  189: 3,
  190: 89,
  191: 3,
  192: 133,
  193: 4,
  194: 1,
  195: 43,
  196: 2,
  197: 131,
  198: 50,
  199: 38,
  200: 20,
  201: 5,
  202: 13,
  203: 56,
  204: 14,
  205: 1,
  206: 27,
  207: 5,
  208: 21,
  209: 48,
  210: 142,
  211: 142,
  212: 4,
  213: 217,
  214: 175,
  215: 7,
  216: 9,
  217: 15,
  218: 1,
  219: 10,
  220: 6,
  221: 78,
  222: 52,
  223: 9,
  224: 3,
  225: 3,
  226: 2,
  227: 20,
  228: 20,
  229: 235,
  230: 18,
  231: 49,
  232: 13,
  233: 1,
  234: 3,
  235: 92,
  236: 6,
  237: 21,
  238: 4,
  239: 68,
  240: 2,
  241: 37,
  242: 13,
  243: 13,
  244: 74,
  245: 16,
  246: 8,
  247: 12,
  248: 3,
  249: 29,
  250: 37,
  251: 111}}

In [99]:
df_citywide = df_dogs[['breed', 'count']].groupby('breed').agg('sum').reset_index()# df_dogs[df_dogs.zip==98103][['breed', 'count']].to_dict(orient='index')

In [121]:
top_breeds_str = """City-wide Top Breeds (Breed, count):\n"""

for (breedname, count) in df_citywide.sort_values(by='count', ascending=False).values:
    top_breeds_str+=f"{breedname}:\t{count}\n"

print(top_breeds_str)

City-wide Top Breeds (Breed, count):
labrador retriever:	1025
golden retriever:	716
australian shepherd:	282
german shepherd:	277
pembroke welsh corgi:	266
standard poodle:	235
havanese:	230
french bulldog:	222
short coat chihuahua:	217
miniature australian shepherd:	190
siberian husky:	175
miniature poodle:	173
cavalier king charles spaniel:	158
shiba inu:	142
shih tzu:	142
boston terrier:	138
border collie:	138
pug:	133
retriever:	131
miniature schnauzer:	126
yorkshire terrier:	111
beagle:	110
american pit bull terrier:	104
boxer:	103
greyhound:	100
pomeranian:	94
terrier:	92
australian cattle dog:	91
miniature smooth haired dachshund:	89
portuguese water dog:	89
english springer spaniel:	88
bernese mountain dog:	84
miniature long haired dachshund:	82
smooth haired vizsla:	78
german shorthaired pointer:	76
west highland white terrier:	74
toy poodle:	68
lagotto romagnolo:	60
maltese:	59
great dane:	57
samoyed:	56
doberman pinscher:	53
soft coated wheaten terrier:	52
american cocker spaniel:	51
jack russell terrier:	51
rhodesian ridgeback:	50
cardigan welsh corgi:	50
standard smooth haired dachshund:	49
shetland sheepdog:	48
bichon frise:	44
english bulldog:	44
rat terrier:	43
brittany:	39
rottweiler:	38
basset hound:	37
xoloitzcuintli:	37
weimaraner:	37
american staffordshire terrier:	36
cairn terrier:	36
border terrier:	35
long coat chihuahua:	34
coton de tulear:	34
pit bull terrier:	33
belgian malinois:	31
flat-coated retriever:	31
alaskan malamute:	30
wirehaired pointing griffon:	29
great pyrenees:	28
miniature pinscher:	27
scottish terrier:	27
newfoundland:	27
lhasa apso:	26
basenji:	25
medium (up to 44 lbs fully grown) mixed breed:	25
nova scotia duck tolling retriever:	24
alaskan klee kai:	24
akita:	24
airedale terrier:	24
english cocker spaniel:	23
italian greyhound:	23
alaskan husky:	22
shepherd:	21
papillon:	21
tibetan terrier:	21
american eskimo:	20
old english sheepdog:	20
staffordshire bull terrier:	20
standard long haired dachshund:	20
rough collie:	20
dalmatian:	19
chow chow:	19
pekingese:	19
bull terrier:	18
irish setter:	18
standard schnauzer:	18
american bulldog:	18
keeshond:	18
whippet:	16
small (under 24 lbs fully grown) mixed breed:	15
english shepherd:	15
chesapeake bay retriever:	15
english setter:	14
schipperke:	14
greater swiss mountain dog:	13
cane corso:	13
standard wire haired dachshund:	13
saint bernard:	13
welsh terrier:	13
catahoula leopard dog:	13
welsh springer spaniel:	13
large (over 44 lbs fully grown) mixed breed:	13
hound:	13
wire fox terrier:	12
pointer:	12
irish terrier:	10
smooth collie:	10
belgian tervuren:	10
german wirehaired pointer:	10
chinese shar-pei:	10
silky terrier:	9
norwegian elkhound:	9
brussels griffon:	9
spaniel:	9
manchester terrier:	8
white swiss shepherd (berger blanc suisse):	8
king german shepherd:	8
norfolk terrier:	8
australian terrier:	8
japanese chin:	8
silken windhound:	7
olde english bulldogge:	7
black-mouth cur:	7
norwich terrier:	7
coonhound:	7
american blue heeler:	7
bullmastiff:	7
icelandic sheepdog:	7
irish wolfhound:	6
american foxhound:	6
gordon setter:	6
entlebucher mountain dog:	6
tibetan spaniel:	6
bouvier des flandres:	6
leonberger:	6
lakeland terrier:	6
briard:	6
smooth fox terrier:	6
korean jindo:	6
australian kelpie:	6
giant schnauzer:	5
russell terrier:	5
barbet:	5
boerboel:	5
chinook:	5
bluetick coonhound:	5
sealyham terrier:	5
canaan:	5
french brittany:	5
english mastiff:	5
bulldog:	5
ibizan hound:	5
kooikerhondje:	5
mcnab herding dog:	5
bearded collie:	4
puli:	4
eurasier:	4
bedlington terrier:	4
petit basset griffon vendeen:	4
kerry blue terrier:	4
chinese crested:	4
toy fox terrier:	4
mountain cur:	4
miniature bull terrier:	4
shiloh shepherd:	4
swedish vallhund:	3
appenzeller sennenhunde:	3
anatolian shepherd:	3
pudelpointer:	3
spinone italiano:	3
spanish water dog:	3
portuguese podengo:	3
wire haired vizsla:	3
belgian sheepdog:	3
affenpinscher:	3
mastiff:	3
braque francais pyrenees:	3
harrier:	3
irish water spaniel:	3
bolognese:	3
bracco italiano:	3
parson russell terrier:	3
carolina dog:	3
mudi:	3
black and tan coonhound:	3
glen of imaal terrier:	3
french spaniel:	2
german pinscher:	2
american hairless terrier:	2
lowchen:	2
feist:	2
treeing walker coonhound:	2
large munsterlander:	2
karelian bear dog:	2
kai ken:	2
japanese spitz:	2
afghan hound:	2
stabyhoun:	2
american bullnese:	2
grand basset griffon vendeen:	2
cirneco dell etna:	2
bergamasco:	2
bloodhound:	2
english staffordshire terrier:	2
miniature wire haired dachshund:	2
black russian terrier:	2
curly coated retriever:	2
plott hound:	2
redbone coonhound:	2
akbash:	2
picardy sheepdog:	2
dutch shepherd:	2
ainu:	1
clumber spaniel:	1
american crested sand terrier:	1
swedish elkhound:	1
dutch smoushond:	1
field spaniel:	1
english foxhound:	1
english toy spaniel:	1
podenco gallego:	1
small munsterlander:	1
greenland dog:	1
scottish deerhound:	1
polish lowland sheepdog:	1
poong-san dog:	1
peruvian inca orchid:	1
beauceron:	1
pumi:	1
otterhound:	1
norwegian lundehund:	1
argentine dogo:	1
mexican hairless:	1
american english coonhound:	1
boykin spaniel:	1
american white shepherd:	1
american water spaniel:	1
american indian dog:	1
brazilian terrier:	1
podenco canario:	1
lacy:	1
komondor:	1
norwegian buhund:	1

In [119]:
top_breeds_str

'City-wide Top Breeds (Breed, count):\\nlabrador retriever:\\t1025\\ngolden retriever:\\t716\\naustralian shepherd:\\t282\\ngerman shepherd:\\t277\\npembroke welsh corgi:\\t266\\nstandard poodle:\\t235\\nhavanese:\\t230\\nfrench bulldog:\\t222\\nshort coat chihuahua:\\t217\\nminiature australian shepherd:\\t190\\nsiberian husky:\\t175\\nminiature poodle:\\t173\\ncavalier king charles spaniel:\\t158\\nshiba inu:\\t142\\nshih tzu:\\t142\\nboston terrier:\\t138\\nborder collie:\\t138\\npug:\\t133\\nretriever:\\t131\\nminiature schnauzer:\\t126\\nyorkshire terrier:\\t111\\nbeagle:\\t110\\namerican pit bull terrier:\\t104\\nboxer:\\t103\\ngreyhound:\\t100\\npomeranian:\\t94\\nterrier:\\t92\\naustralian cattle dog:\\t91\\nminiature smooth haired dachshund:\\t89\\nportuguese water dog:\\t89\\nenglish springer spaniel:\\t88\\nbernese mountain dog:\\t84\\nminiature long haired dachshund:\\t82\\nsmooth haired vizsla:\\t78\\ngerman shorthaired pointer:\\t76\\nwest highland white terrier:\\t74\\ntoy poodle:\\t68\\nlagotto romagnolo:\\t60\\nmaltese:\\t59\\ngreat dane:\\t57\\nsamoyed:\\t56\\ndoberman pinscher:\\t53\\nsoft coated wheaten terrier:\\t52\\namerican cocker spaniel:\\t51\\njack russell terrier:\\t51\\nrhodesian ridgeback:\\t50\\ncardigan welsh corgi:\\t50\\nstandard smooth haired dachshund:\\t49\\nshetland sheepdog:\\t48\\nbichon frise:\\t44\\nenglish bulldog:\\t44\\nrat terrier:\\t43\\nbrittany:\\t39\\nrottweiler:\\t38\\nbasset hound:\\t37\\nxoloitzcuintli:\\t37\\nweimaraner:\\t37\\namerican staffordshire terrier:\\t36\\ncairn terrier:\\t36\\nborder terrier:\\t35\\nlong coat chihuahua:\\t34\\ncoton de tulear:\\t34\\npit bull terrier:\\t33\\nbelgian malinois:\\t31\\nflat-coated retriever:\\t31\\nalaskan malamute:\\t30\\nwirehaired pointing griffon:\\t29\\ngreat pyrenees:\\t28\\nminiature pinscher:\\t27\\nscottish terrier:\\t27\\nnewfoundland:\\t27\\nlhasa apso:\\t26\\nbasenji:\\t25\\nmedium (up to 44 lbs fully grown) mixed breed:\\t25\\nnova scotia duck tolling retriever:\\t24\\nalaskan klee kai:\\t24\\nakita:\\t24\\nairedale terrier:\\t24\\nenglish cocker spaniel:\\t23\\nitalian greyhound:\\t23\\nalaskan husky:\\t22\\nshepherd:\\t21\\npapillon:\\t21\\ntibetan terrier:\\t21\\namerican eskimo:\\t20\\nold english sheepdog:\\t20\\nstaffordshire bull terrier:\\t20\\nstandard long haired dachshund:\\t20\\nrough collie:\\t20\\ndalmatian:\\t19\\nchow chow:\\t19\\npekingese:\\t19\\nbull terrier:\\t18\\nirish setter:\\t18\\nstandard schnauzer:\\t18\\namerican bulldog:\\t18\\nkeeshond:\\t18\\nwhippet:\\t16\\nsmall (under 24 lbs fully grown) mixed breed:\\t15\\nenglish shepherd:\\t15\\nchesapeake bay retriever:\\t15\\nenglish setter:\\t14\\nschipperke:\\t14\\ngreater swiss mountain dog:\\t13\\ncane corso:\\t13\\nstandard wire haired dachshund:\\t13\\nsaint bernard:\\t13\\nwelsh terrier:\\t13\\ncatahoula leopard dog:\\t13\\nwelsh springer spaniel:\\t13\\nlarge (over 44 lbs fully grown) mixed breed:\\t13\\nhound:\\t13\\nwire fox terrier:\\t12\\npointer:\\t12\\nirish terrier:\\t10\\nsmooth collie:\\t10\\nbelgian tervuren:\\t10\\ngerman wirehaired pointer:\\t10\\nchinese shar-pei:\\t10\\nsilky terrier:\\t9\\nnorwegian elkhound:\\t9\\nbrussels griffon:\\t9\\nspaniel:\\t9\\nmanchester terrier:\\t8\\nwhite swiss shepherd (berger blanc suisse):\\t8\\nking german shepherd:\\t8\\nnorfolk terrier:\\t8\\naustralian terrier:\\t8\\njapanese chin:\\t8\\nsilken windhound:\\t7\\nolde english bulldogge:\\t7\\nblack-mouth cur:\\t7\\nnorwich terrier:\\t7\\ncoonhound:\\t7\\namerican blue heeler:\\t7\\nbullmastiff:\\t7\\nicelandic sheepdog:\\t7\\nirish wolfhound:\\t6\\namerican foxhound:\\t6\\ngordon setter:\\t6\\nentlebucher mountain dog:\\t6\\ntibetan spaniel:\\t6\\nbouvier des flandres:\\t6\\nleonberger:\\t6\\nlakeland terrier:\\t6\\nbriard:\\t6\\nsmooth fox terrier:\\t6\\nkorean jindo:\\t6\\naustralian kelpie:\\t6\\ngiant schnauzer:\\t5\\nrussell terrier:\\t5\\nbarbet:\\t5\\nboerboel:\\t5\\nchinook:\\t5\\nbluetick coonhound:\\t5\\nsealyham terrier:\\t5\\ncanaan:\\t5\\nfrench brittany:\\t5\\nenglish mastiff:\\t5\\nbulldog:\\t5\\nibizan hound:\\t5\\nkooikerhondje:\\t5\\nmcnab herding dog:\\t5\\nbearded collie:\\t4\\npuli:\\t4\\neurasier:\\t4\\nbedlington terrier:\\t4\\npetit basset griffon vendeen:\\t4\\nkerry blue terrier:\\t4\\nchinese crested:\\t4\\ntoy fox terrier:\\t4\\nmountain cur:\\t4\\nminiature bull terrier:\\t4\\nshiloh shepherd:\\t4\\nswedish vallhund:\\t3\\nappenzeller sennenhunde:\\t3\\nanatolian shepherd:\\t3\\npudelpointer:\\t3\\nspinone italiano:\\t3\\nspanish water dog:\\t3\\nportuguese podengo:\\t3\\nwire haired vizsla:\\t3\\nbelgian sheepdog:\\t3\\naffenpinscher:\\t3\\nmastiff:\\t3\\nbraque francais pyrenees:\\t3\\nharrier:\\t3\\nirish water spaniel:\\t3\\nbolognese:\\t3\\nbracco italiano:\\t3\\nparson russell terrier:\\t3\\ncarolina dog:\\t3\\nmudi:\\t3\\nblack and tan coonhound:\\t3\\nglen of imaal terrier:\\t3\\nfrench spaniel:\\t2\\ngerman pinscher:\\t2\\namerican hairless terrier:\\t2\\nlowchen:\\t2\\nfeist:\\t2\\ntreeing walker coonhound:\\t2\\nlarge munsterlander:\\t2\\nkarelian bear dog:\\t2\\nkai ken:\\t2\\njapanese spitz:\\t2\\nafghan hound:\\t2\\nstabyhoun:\\t2\\namerican bullnese:\\t2\\ngrand basset griffon vendeen:\\t2\\ncirneco dell etna:\\t2\\nbergamasco:\\t2\\nbloodhound:\\t2\\nenglish staffordshire terrier:\\t2\\nminiature wire haired dachshund:\\t2\\nblack russian terrier:\\t2\\ncurly coated retriever:\\t2\\nplott hound:\\t2\\nredbone coonhound:\\t2\\nakbash:\\t2\\npicardy sheepdog:\\t2\\ndutch shepherd:\\t2\\nainu:\\t1\\nclumber spaniel:\\t1\\namerican crested sand terrier:\\t1\\nswedish elkhound:\\t1\\ndutch smoushond:\\t1\\nfield spaniel:\\t1\\nenglish foxhound:\\t1\\nenglish toy spaniel:\\t1\\npodenco gallego:\\t1\\nsmall munsterlander:\\t1\\ngreenland dog:\\t1\\nscottish deerhound:\\t1\\npolish lowland sheepdog:\\t1\\npoong-san dog:\\t1\\nperuvian inca orchid:\\t1\\nbeauceron:\\t1\\npumi:\\t1\\notterhound:\\t1\\nnorwegian lundehund:\\t1\\nargentine dogo:\\t1\\nmexican hairless:\\t1\\namerican english coonhound:\\t1\\nboykin spaniel:\\t1\\namerican white shepherd:\\t1\\namerican water spaniel:\\t1\\namerican indian dog:\\t1\\nbrazilian terrier:\\t1\\npodenco canario:\\t1\\nlacy:\\t1\\nkomondor:\\t1\\nnorwegian buhund:\\t1\\n'

In [ ]:
# df_dogs[df_dogs.zip==98103][['breed', 'count']].to_dict(orient='index')
grouped = df_dogs.groupby('zip')

In [ ]:

breed_counts_by_zip = {}
# dict of a dict:  {zipcode:{breed:count})

for i, (name, df) in enumerate(grouped):

    temp_dict = {}
    # note, there may be some null /empty dicts!
    
    # print(name)
    # print(df.columns) # 'zip', 'breed', 'count'
    # print(df[['breed', 'count']].to_dict(orient='records')) # [{'breed': 'australian shepherd', 'count': 4}]
    
    breed_count: List[Dict] = df[['breed', 'count']].to_dict(orient='records') # list of breeds

    # Let's sort the dictionaries by count, instead of 

    for elem_dict in breed_count:
        # e.g. unpack {'breed': 'australian shepherd', 'count': 4}
        # to {'australian shepherd':4}
        # breed_counts_by_zip[name].update({elem_dict.get('breed'): elem_dict.get('count')})
        temp_dict.update({elem_dict.get('breed'): elem_dict.get('count')})
        
    # Let's sort the dictionaries by count, instead of alphabetically
    breed_counts_by_zip[name] = dict(sorted(temp_dict.items(), key=lambda item: item[1], reverse=True))

In [81]:
breed_counts_by_zip.keys()

dict_keys([98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98127, 98132, 98133, 98134, 98136, 98139, 98144, 98146, 98147, 98155, 98166, 98168, 98177, 98178, 98188, 98195, 98198, 98199, 98202, 98204, 98215, 98258, 98260, 98332, 98367, 98375, 98391, 98405, 98502, 98507, 98937, 99103, 99166])

In [82]:
breed_counts_by_zip[98104]

{'short coat chihuahua': 10,
 'american cocker spaniel': 3,
 'miniature long haired dachshund': 3,
 'american pit bull terrier': 2,
 'border collie': 2,
 'doberman pinscher': 2,
 'havanese': 2,
 'pembroke welsh corgi': 2,
 'pomeranian': 2,
 'shiba inu': 2,
 'standard poodle': 2,
 'alaskan husky': 1,
 'alaskan malamute': 1,
 'australian shepherd': 1,
 'bichon frise': 1,
 'boxer': 1,
 'cavalier king charles spaniel': 1,
 'chinese crested': 1,
 'chinese shar-pei': 1,
 'english bulldog': 1,
 'french bulldog': 1,
 'german shepherd': 1,
 'golden retriever': 1,
 'irish setter': 1,
 'irish terrier': 1,
 'italian greyhound': 1,
 'maltese': 1,
 'miniature australian shepherd': 1,
 'miniature pinscher': 1,
 'miniature poodle': 1,
 'miniature schnauzer': 1,
 'miniature smooth haired dachshund': 1,
 'pit bull terrier': 1,
 'pug': 1,
 'rat terrier': 1,
 'siberian husky': 1,
 'small (under 24 lbs fully grown) mixed breed': 1,
 'smooth fox terrier': 1,
 'standard smooth haired dachshund': 1,
 'xoloitzcuintli': 1,
 'yorkshire terrier': 1}

In [ ]:
sorted(temp.items(), key=lambda item: item[1], reverse=True)

[('french bulldog', 7),
 ('shih tzu', 7),
 ('golden retriever', 6),
 ('short coat chihuahua', 6),
 ('labrador retriever', 5),
 ('miniature poodle', 5),
 ('australian shepherd', 4),
 ('cavalier king charles spaniel', 4),
 ('havanese', 4),
 ('pembroke welsh corgi', 4),
 ('pomeranian', 4),
 ('standard poodle', 4),
 ('yorkshire terrier', 4),
 ('siberian husky', 3),
 ('basset hound', 2),
 ('boxer', 2),
 ('bull terrier', 2),
 ('german shepherd', 2),
 ('greyhound', 2),
 ('miniature australian shepherd', 2),
 ('miniature pinscher', 2),
 ('rough collie', 2),
 ('shiba inu', 2),
 ('staffordshire bull terrier', 2),
 ('toy poodle', 2),
 ('west highland white terrier', 2),
 ('airedale terrier', 1),
 ('akita', 1),
 ('american eskimo', 1),
 ('basenji', 1),
 ('belgian sheepdog', 1),
 ('bichon frise', 1),
 ('border collie', 1),
 ('border terrier', 1),
 ('boston terrier', 1),
 ('bulldog', 1),
 ('bullmastiff', 1),
 ('long coat chihuahua', 1),
 ('lowchen', 1),
 ('maltese', 1),
 ('miniature long haired dachshund', 1),
 ('miniature schnauzer', 1),
 ('miniature smooth haired dachshund', 1),
 ('mountain cur', 1),
 ('old english sheepdog', 1),
 ('papillon', 1),
 ('pug', 1),
 ('samoyed', 1),
 ('scottish terrier', 1),
 ('spaniel', 1),
 ('swedish vallhund', 1),
 ('weimaraner', 1),
 ('whippet', 1),
 ('wire fox terrier', 1)]

In [ ]:
dict(sorted(temp.items(), key=lambda item: item[1], reverse=True)) # yay!

{'french bulldog': 7,
 'shih tzu': 7,
 'golden retriever': 6,
 'short coat chihuahua': 6,
 'labrador retriever': 5,
 'miniature poodle': 5,
 'australian shepherd': 4,
 'cavalier king charles spaniel': 4,
 'havanese': 4,
 'pembroke welsh corgi': 4,
 'pomeranian': 4,
 'standard poodle': 4,
 'yorkshire terrier': 4,
 'siberian husky': 3,
 'basset hound': 2,
 'boxer': 2,
 'bull terrier': 2,
 'german shepherd': 2,
 'greyhound': 2,
 'miniature australian shepherd': 2,
 'miniature pinscher': 2,
 'rough collie': 2,
 'shiba inu': 2,
 'staffordshire bull terrier': 2,
 'toy poodle': 2,
 'west highland white terrier': 2,
 'airedale terrier': 1,
 'akita': 1,
 'american eskimo': 1,
 'basenji': 1,
 'belgian sheepdog': 1,
 'bichon frise': 1,
 'border collie': 1,
 'border terrier': 1,
 'boston terrier': 1,
 'bulldog': 1,
 'bullmastiff': 1,
 'long coat chihuahua': 1,
 'lowchen': 1,
 'maltese': 1,
 'miniature long haired dachshund': 1,
 'miniature schnauzer': 1,
 'miniature smooth haired dachshund': 1,
 'mountain cur': 1,
 'old english sheepdog': 1,
 'papillon': 1,
 'pug': 1,
 'samoyed': 1,
 'scottish terrier': 1,
 'spaniel': 1,
 'swedish vallhund': 1,
 'weimaraner': 1,
 'whippet': 1,
 'wire fox terrier': 1}

In [24]:
df_dogs.tail(10)

        zip                 breed  count
2441  98375       english bulldog      1
2442  98391        siberian husky      1
2443  98405        french bulldog      1
2444  98502    labrador retriever      1
2445  98507  smooth haired vizsla      1
2446  98507            toy poodle      1
2447  98507     yorkshire terrier      1
2448  98937              shih tzu      1
2449  99103       standard poodle      2
2450  99166  american blue heeler      1

In [ ]:
df_dogs[df_dogs.zip==98105].breed.nunique() # 102

102

In [ ]:
# df_dogs.groupby(by='zip', sort=True).value_counts()
df_dogs.groupby(by='zip')

zip    breed                                          count
98101  airedale terrier                               1        1
98125  beagle                                         6        1
       american cocker spaniel                        6        1
       american eskimo                                3        1
       american pit bull terrier                      1        1
                                                              ..
98112  maltese                                        1        1
       medium (up to 44 lbs fully grown) mixed breed  1        1
       miniature australian shepherd                  5        1
       miniature long haired dachshund                2        1
99166  american blue heeler                           1        1
Length: 2451, dtype: int64

In [87]:
gdf.head()

      id zipcode                                           geometry
0  98422   98422  MULTIPOLYGON (((-122.39386 47.30380, -122.3935...
1  98321   98321  MULTIPOLYGON (((-122.11344 47.21775, -122.1138...
2  98323   98323  MULTIPOLYGON (((-121.93754 47.13888, -121.9374...
3  98354   98354  MULTIPOLYGON (((-122.33425 47.25737, -122.3342...
4  98372   98372  MULTIPOLYGON (((-122.28811 47.25720, -122.2879...

In [ ]:
# gdf = pd.merge(gdf_raw, df_dogs, how='inner',
                # left_on='')

In [123]:
import json

geo_filepath = Path.cwd().joinpath('data').joinpath('clean_seattle_zipcodes.geojson')
gdf = gpd.read_file(geo_filepath)
gdf.zipcode = gdf.zipcode.astype('int64') # for merging later

top_breeds_by_zip_df = pd.read_csv(Path.cwd().joinpath('data').joinpath('top_5_breeds_by_zip.csv'))
gdf = gdf.merge(top_breeds_by_zip_df, how='inner', left_on='zipcode', right_on='zip')
gdf = gdf[['zip', 'geometry', 'top_5_breeds']]
with open(geo_filepath, 'r') as f:
   geodata = json.load(f)

df = pd.read_csv(Path.cwd().joinpath('data').joinpath('seattle_dogs_single_breed.csv'))
df.rename({'zip':'zipcode'}, inplace=True)

In [128]:
raw=df[df['breed']=='french bulldog'][['zip', 'count']].to_dict('records')
choro_data = {}
for elem in raw:
    choro_data[str(elem['zip'])] = elem['count']

In [129]:
for zip in gdf.zip.unique():
    if str(zip) not in choro_data.keys():
        choro_data[str(zip)] = 0

In [136]:
geodata['features'][0]['properties']

{'zipcode': '98422'}

In [139]:
len(choro_data.keys())

35

In [ ]:
gdf.zip.nunique() # there's one missing?

34

In [148]:
choro_data['98422']=0

In [149]:
choro_data['98422'] # does not exist...

0

In [ ]:
gdf.zip.unique()

array([98391, 98136, 98144, 98146, 98155, 98101, 98166, 98168, 98177,
       98178, 98188, 98195, 98198, 98199, 98102, 98103, 98104, 98105,
       98106, 98107, 98108, 98109, 98112, 98115, 98116, 98117, 98118,
       98119, 98121, 98122, 98125, 98126, 98133, 98134])

In [152]:
choro_zips = sorted([int(k) for k in choro_data.keys()])

In [153]:
for ch in choro_zips:
    if ch not in gdf.zip.unique():
        print(f"'{ch}', ")

'98405',
'98422',